{% extends 'Base.html' %}
{% load static %}
{% block agents %}active{% endblock %}
{% block content %}

{% include 'navbar_1.html' %}

<!-- page title area start -->

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Dashboard</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Agents</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="static/assets/images/author/avatar.png" alt="avatar">
                <!-- sdfd -->
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    </div> 
    <!-- page title area end -->
            <!-- Progress Table start -->
    <div class="main-content-inner">

        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-sm-4 my-1">
                                <label class="sr-only" for="inlineFormInputName"> Search</label>
                                <input type="text" class="form-control form-control-sm" id="inlineFormInputName" placeholder="Enter Agent Name Here">
                            </div>
                            
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> &nbsp; Submit</button>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-close"></i> &nbsp;Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row " style="display: flex;">
                            <div class="col-sm-12 col-md-6">
                                <h4 class="header-title">All Agents List</h4>
                            </div>
                            <div class="col-sm-12 col-md-6"> 
                                <a href="add_Agent">
                                    <button style="float: right;" type="button" class="btn btn-flat btn-success btn-xs mb-3"><i class="fa fa-plus"></i> Add Agent</button>
                                </a>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table table-hover  text-center">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">AGENT NAME</th>
                                                    <th scope="col">TYPE</th>
                                                    <th scope="col">EMAIL</th>
                                                    <th scope="col">TELEPHONE</th>
                                                    <th scope="col">MOBILE NO.</th>
                                                    <th scope="col">ACTIONS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td><a href="Agent_Details">Mark</a> </td>
                                                        <td>Local Individual</td>
                                                        <td>xyz@gmail.com</td>
                                                        <td>9999999999</td>
                                                        <td>9191919191</td>
                                                        <td> &nbsp;<a href=""><i class="fa fa-exclamation-circle"></i></a> &nbsp;<a href="Edit_Agent_List"><i class="fa fa-pencil"></i></a> &nbsp;<a href=""><i class="fa fa-trash"></i></a></td>
                                                    </tr>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                            
                            
                    </div>
                </div>
            </div>
    </div>  <!-- container div end -->

{% endblock%}